body {
    background-color: #091b2a !important;
    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--main-color);
  color: #fff;
}




  .dis {
    color: #efdede;
  }

  .distance {
    height: 100px;
  }


  @media (max-width:584px) {
    .distance {
      height: 60px;
    }
  }